.container {
  line-height: 25px;
  width: 60%;
  text-align: justify;
}

#head {
  padding-top: 60px;
  padding-bottom: 15px;

  border-bottom: 2px;
  border-width: thin;
  border-color: #c6c9ce;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  text-align: center;
}

#pic {
  float: left;
  padding: 10px 10px 10px 10px;
  width: 220px;
  height: 220px;  

}

#dp {  
  padding: 10px 10px 10px 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

#intro {
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 2px;
  border-width: thin;
  border-color: #c6c9ce;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  font-size: 15px;
  text-align: justify;
  
}

#interests {
  font-size: 15px;
}

#section {
  padding-top: 1%;
  border-bottom: 2px;
  border-width: thin;
  border-color: #c6c9ce;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

.h1 {
  font-size: 40px;
}

.page {
  background-color: white;
}

.col {
  padding-bottom: 1%;
}

.float-right {
  float: right;
  font-style: italic;
}

#footer {
  border-top: 2px;
  padding-top: 10px;
  border-width: thin;
  border-color: #c6c9ce;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

#last_updated {
  font-size: 10px;
}

#quick_links {
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
}

.two-col-list {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;	
}

.jumpto {
  color: black;
}

.proj {
	padding-top: 5px;
}

.proj-category {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
}

.sub-head {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 17px;	
}

.course-name {
	font-style: italic;
}

.fa {
	padding: 7px;
	color: gray;
}

#social {
	padding: 7px;		
}

#navigation {
	padding-top: 40px; 
	text-align: center;		
}

.nav-icon {
	width: 120px;		
	vertical-align: top;
	text-align: center;
	display: inline-block;
}

.fa-nav {
	width: 100px;
	display: inline-block;
}
.cap {
	display: block;
	font-weight: bold;
	color: gray;
	
}

#word_cloud {
  border-width: thin;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px; 
  border-color: #c6c9ce;
  text-align: center;
  border-style: solid;
}

#word_cloud_img {
    padding: 10px;

  text-align: center;
}